body{
    background-color:#eaeff3;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    color: rgb(59, 58, 58);

}

.content-body{
    margin:20px 20px 3px 20px;
}

.custom-plt-lnk a{
    margin: 15px 0 0 15px;
    color:blue;
    text-decoration:none;
}

.custom-plt-lnk a:hover{
    text-decoration: underline;
}
.plt-main{
    display: flex;
    justify-content: space-around;
}
.cust-btn{
    color: white;
    background-color: #0c1a79;
    margin: 5px 0 0 0;
    float: right;
}
.cust-btn:hover{
    color:white;
    background-color: #051e50;
}

.btn-sucess{
    background-color: #051e50;
}
.cust_plot{
    margin: 25px 0 0 0;
}
.cust_plot img{
    display: block;
    margin: auto;
    margin-top: 10px;
}
#direct_btn{
    bottom:40%;
    color: rgb(128, 126, 126);
}
#direct_btn:hover{
    color: #0c1a79;
}