<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Fun proj</title>

    <!-- load jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- bootstrap files-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <!--google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/custom-plot.css">

</head>

<body>

    <div class="content-body">
        <div>

            <div class="custom-plt-lnk">
                <!--<a href="javascript:;" onclick="history.go(-1);">-->
                <a href="/Analysis" style="font-size: large;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Go to Analysis
                </a>
            </div><br>

            <!--<div class="custom-plt-lnk">
                <a href="javascript:history.go(-1)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg>
                    Go Back
                </a>
            </div><br>-->
            <h2>Looking...</h2>
            <div class="plt-main">
                <div>
                    <h3> For Relation ?</h3>
                    <button type="button" class="btn cust-btn" data-bs-toggle="modal"
                        data-bs-target="#rel_Modal">Relational Plot</button>
                </div>
                <div>
                    <h3> For Distribution ?</h3>
                    <button type="button" class="btn cust-btn" data-bs-toggle="modal" data-bs-target="#dist_Modal">
                        Distribution Plot</button>

                </div>
            </div>
        </div>

        <!-- relational modal -->
        <div class="container">
            <div class="modal fade" id="rel_Modal" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Visualize Relational Plots</h4>
                            <button type="button" class="btn btn-outline-danger close"
                                data-bs-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                            <form id="rel-form" action="/Analysis/custom_plot" onsubmit="return rel_valid()"
                                method="post" enctype="multipart/form-data">
                                <input type="hidden" name="plot_type" value="rel_plot">
                                <div>
                                    <div class="form-group row">
                                        <label for="inputcols" class="col-sm-3 col-form-label">X-Axis:</label>
                                        <select id="x_col" name="x_col" class="col-sm-5 col-form-label mb-2 mt-2">
                                            <option value="-1" hidden> Choose Column</option>
                                            {% for col in cols %}
                                            <option value="{{ col }}">{{ col }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputcols" class="col-sm-3 col-form-label">Y-Axis:</label>
                                        <select id="y_col" name="y_col" class="col-sm-5 col-form-label mb-2 mt-2">
                                            <option value="-1" hidden> Choose Column</option>
                                            {% for col in cols %}
                                            <option value="{{ col }}">{{ col }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputcols" class="col-sm-3 col-form-label">Plot Type:</label>
                                        <select id="rel_plot_type" name="rel_plot_type"
                                            class="col-sm-5 col-form-label mb-2 mt-2">
                                            <option value="-1" hidden> Choose Plot Type</option>
                                            {% for plot in rel_plot_types %}
                                            <option value="{{ plot }}">{{ plot }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <p id="rel-error-p" style="color: red;"></p>
                                    <div class="modal-footer">
                                        <button id="rel_mdl_submit_btn" type="submit"
                                            class="btn btn-success">Visualize</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Distribution modal -->
        <div class="container">
            <div class="modal fade" id="dist_Modal" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Visualize Distribution Plots</h4>
                            <button type="button" class="btn btn-outline-danger close"
                                data-bs-dismiss="modal">X</button>
                        </div>
                        <div class="modal-body">
                            <form id="dist-form" action="/Analysis/custom_plot" onsubmit="return dist_valid()"
                                method="post" enctype="multipart/form-data">
                                <input type="hidden" name="plot_type" value="dist_plot">
                                <div>
                                    <div class="form-group row">
                                        <label for="inputcols" class="col-sm-3 col-form-label">Column:</label>
                                        <select id="dist_col" name="dist_col" class="col-sm-5 col-form-label mb-2 mt-2">
                                            <option value="-1" hidden> Choose Column</option>
                                            {% for col in cols %}
                                            <option value="{{ col }}">{{ col }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputcols" class="col-sm-3 col-form-label">Plot Type:</label>
                                        <select id="dist_plot_type" name="dist_plot_type"
                                            class="col-sm-5 col-form-label mb-2 mt-2">
                                            <option value="-1" hidden> Choose Plot Type</option>
                                            {% for plot in dist_plot_types %}
                                            <option value="{{ plot }}">{{ plot }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <p id="dist-error-p" style="color: red;"></p>
                                    <p id="dist-sugg-p" style="color: green;"></p>
                                    <div class="modal-footer">
                                        <button id="dist_mdl_submit_btn" type="submit"
                                            class="btn btn-success">Visualize</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <a href="javascript:history.go(-1)" id="direct_btn" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg>
        </a>
        <a href="javascript:history.go(1)" id="direct_btn" role="button" style="float: right;">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
        </a>


        {% if fig_data %}
        <div class="shadow-sm p-3 mb-5 bg-body rounded cust_plot">
            <img src="../static/temp/{{ plot_type }}_{{ col_name }}.png">
        </div>
        {% endif %}
        
    </div>

    <script>
        var cat_col = "{{ data_df['cat_col'] }}";
        var mis_detail = "{{ data_df['mis_detail'] }}";
        var num_col = "{{ data_df['num_col'] }}";
    </script>

    <script src='../static/custom-plot.js'></script>
</body>

</html>